#contact {
  background-color: $color-light-sand;
  color: $color-night-sky-blue;

  .section-container {

    h3 {
        font-weight: 500;
        padding-bottom: 2rem;

        strong {
          color: $color-dark-plum;
        }
      }
      
    button {
      color: $color-night-sky-blue;
      border: 3px solid $color-night-sky-blue;



      &:hover {
        color: white;
      }
    }
  }
}


.modal-dialog{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 600px;
  background-color: white;
  padding: 40px;
  box-shadow: $box-shadow-main;

  h3{
    padding-bottom: 40px;
  }

  form{
    display: flex;
    flex-direction: column;


  }

}