@import "./variables.scss";

header {
  box-shadow: $box-shadow-main;
  font-weight: 600;
  // position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  text-align: center;
  height: 11vh;
  min-height: 110px;

  &:after {
    box-shadow: inset 3px 3px 10px 0 #000000;
    content: "";
    top: 0;
    width: 100%;
  }

  .header-container {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;

    .header-logo {
      width: 80px;
      position: absolute;
      top: 20px;
    }
  }

  nav {
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    font-family: $font-title;
    text-transform: uppercase;
    width: 300px;
    position: absolute;
    top: 50px;
    text-align: center;

    @media (max-width: 768px) {
      display: none;
    }

    .dropdown-nav-link {
      display: flex;
      flex-direction: row;
      align-items: center;
      p {
        font-size: 2rem;
      }

      .dropdown_carrot {
        font-size: 2rem;
        padding-left: 3px;
      }

      &:hover {
        display: relative;
        border-bottom: 5px solid $color-sky;
        padding-bottom: 5px;
        transform: scale(1);
      }

      &:focus {
        display: relative;
        border-bottom: 5px solid $color-sky;
        padding-bottom: 5px;
        transform: scale(1);
      }
    }

    .nav-link {
      font-size: 2rem;

      span {
        transition: opacity 600ms, transform 600ms;

        &:hover {
          display: relative;
          border-bottom: 5px solid $color-sky;
          padding-bottom: 5px;
          transform: scale(1);
        }

        &:focus {
          display: relative;
          border-bottom: 5px solid $color-sky;
          padding-bottom: 5px;
          transform: scale(1);
        }
      }

      @media (max-width: 768px) {
        font-size: 1.5rem;
      }
      @media (max-width: 400px) {
        font-size: 1.2rem;
      }
    }
  }

  .menu {
    font-size: 2.5rem;
    width: 200px;

    .menu-item{
      
    }
  }

  .nav-left {
    left: 150px;
  }
  .nav-right {
    right: 100px;
  }
}
