@import "./variables.scss";

header {
  box-shadow: $box-shadow-main;
  font-weight: 600;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  text-align: center;

  &:after {
    box-shadow: inset 3px 3px 10px 0 #000000;
    content: "";
    top: 0;
    width: 100%;
  }

  .hamburger-bars {
    display: none;
    font-size: 3rem;
    position: absolute;
    right: 36px;
    top: 36px;

    @media (max-width: 768px) {
      display: inline-block;
    }
  }

  .header-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    .header-logo {
      width: 100px;
    }
  }

  .nav {
    display: flex;
    flex-direction: row;

    font-family: $font-title;
    text-transform: uppercase;
    width: 300px;

    @media (max-width: 768px) {
      display: none;
    }

    .nav-link {
      font-size: 2rem;
      padding: 50px;

      span{

        transition: opacity 600ms, transform 600ms;
        
        &:hover {
          display: relative;
          border-bottom: 5px solid $color-sky;
          padding-bottom: 5px;
          transform: scale(1);
        }

        &:focus{
          display: relative;
          border-bottom: 5px solid $color-sky;
          padding-bottom: 5px;
          transform: scale(1);
        }

      }

      @media (max-width: 768px) {
        font-size: 1.5rem;
      }
      @media (max-width: 400px) {
        font-size: 1.2rem;
      }
    }

    .right {
      padding-left: 50px;
    }

    .left {
      padding-right: 50px;
    }
  }

  .nav-left {
    justify-content: flex-end;
  }
  .nav-right {
    justify-content: flex-start;
  }
}
