#learn-more {
  background-color: $color-warm-brown;
  color: white;
  padding-bottom: 0;
  
  .section-container {
    background-image: url("../images/floating-bottles-01.png");
    background-position: 0px 150px;
    background-size: 300px;
    background-repeat: no-repeat;
    display:flex;
    padding-bottom: 75px;

    @media (max-width: 900px) {
      width: 85%;
      background-image: none;
    }
    .content-container {
      max-width: 1000px;
      margin: 0 auto;
    }
  }
  .floating-bottles {
    position: relative;
    top: -200px;
    left: 10px;
    width: 320px;
    align-self: flex-end;
    margin-bottom: -200px;

    // @media(max-width: 900px){
    //   width: 250px;
    //   top: 250px;
    //   left: 10px;
    // }

    @media (max-width: 800px) {
      display: none;
    }
  }

  button {
    color: white;
    border: 2px solid white;
    position: relative;

    &:hover {
      background-color: white;
      color: $color-dark-plum;
      font-size: 3rem;
    }
  }
  p {
    strong {
      font-size: 3rem;
    }
  }
}

.wavy-border-transition {
  background-image: url("../images/wavy-border.svg");
  background-repeat: no-repeat;
  img {
    visibility: hidden;
  }
}
