#sustainability {
  background: $color-sky;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  width: 100%;

  .section-container {
    width: 100%;
    max-width: 100%;

    h2{
      padding-bottom: 25px;
    }
    p {
      margin: 0;
    }
  }

  .content-container {
    background-image: url("../images/repeating-bottles-transparent-01.png");
    background-size: 1565px 270px;
    background-position: -35px 0px;
    background-repeat: repeat;
    width: 100%;

    @media(max-width: 768px){
      background-image: none;
      background-size: auto;
      background-position: 0px 0px;
    }
  }

 .info-circles {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-evenly;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      
    }

    li {
      height: 250px;
      width: 250px;
      background-color: $color-night-sky-blue;
      color: white;
      display: flex;
      flex-direction: column;
      border-radius: 50%;
      justify-content: center;
      // align-items: center; 
      margin: 10px 0;

      @media (max-width: 768px) {
        margin: 25px;
      }

      &:nth-child(1) {
        background-color: $color-light-sand;
        color: $color-night-sky-blue;
      }

      &:nth-child(2) {
        background-color: $color-night-sky-blue;
      }

      &:nth-child(3) {
        background-color: $color-burnt-orange-tint;
      }

      strong {
        font-size: 5rem;
        font-family: $font-title;
        font-weight: 400;
      }
      p {
        font-size: 2rem;
        margin: .5rem;
      }
    }
  }
}
