#welcome-to-revino {
  background: url("../images/vineyard-splash-photo-01.png") no-repeat;
  background-position: left center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  margin-left: -1px;
  margin-right: -1px;
  margin-top: 90px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media (max-width: 625px) {
    margin-top: 75px;
  }

  @media (max-width: 450px) {
    margin-top: 50px;
  }
  .welcome-msg {
    width: 40%;
    min-width: 270px;
    margin: 5%;


    h2 {
      text-transform: uppercase;
      padding-left: 8%;
      font-size: 3.5rem;

      @media (max-width: 768px) {
        font-size: 2.5rem;
      }
    }
  }

  .location-msg{
    width: 25%;
    min-width: 200px;
    margin: 10%;

    @media(max-width: 650px){
      display: none;
    }
  }
}
