#welcome-to-revino {
    background: url("../images/vineyard-splash-photo-01.png") no-repeat;
    background-position: left center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    margin-left: -1px;
    margin-right: -1px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  
    .title-container {
      width: 50%;
      min-width: 270px;
      margin: 5%;

      h2 {
        text-transform: uppercase;
        padding-left: 8%;
        font-size: 3.5rem;

        @media(max-width: 768px){
          font-size: 2.5rem;
        }
      }
    }
  }