#why-reusable {
  h2{
    margin: 20px;
  }
    background-color: $color-light-sand;
    // background-image: url("../images/floating-bottle-banner-01.png");
    // background-position: bottom left;
    // background-size: 100%;
    // background-repeat: no-repeat;
    background-image: url("../images/floating-beer-banner.png");
    background-position: bottom left;
    background-size: 900px;
    background-repeat: no-repeat;
    margin-bottom: -1px;
  
    @media(max-width: 500px){
      background-size: 180%;

    }
    @media(min-width: 900px){

      background-size: 100%;
    }

    .section-container{
      padding-bottom: 200px;

      @media (max-width:900px) {
        padding-bottom: 125px;
      }

    }

    p{
      strong{
        color: $color-warm-brown;
      }
    }
    


  }