#why-reusable {
    background-color: $color-light-sand;
    // background-image: url("../images/floating-bottle-banner-01.png");
    // background-position: bottom left;
    // background-size: cover;
    // background-repeat: no-repeat;
    padding-bottom: 0;
    p{
      strong{
        color: $color-dark-plum
      }
    }
    .bottle-transition{
        margin-top: -8%;
        margin-bottom: -100px;
        min-width: 1000px;
        z-index: -1;
        img{
          z-index: -1;
        }
    }
  }