section {
  padding: 50px;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
  width: 50%;

  h2 {
    margin-bottom: 10px;
  }
}

#welcome-to-revino {
  // height: 80vh;
  background: url("../images//willamette-winery-photo.jpg") no-repeat center
    center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;

  img{
    margin: 10px;
  }

  p{
    margin-top: 50px;
  }
}

#how-it-works {
  background: url("../images/revino-pattern-background-14.png") no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#why-reuse {
  background-color: $color-dark-plum;
  color: $color-light-sand;
}

#sustainability {
  background: url("../images/revino-pattern-background-14.png") no-repeat center
  center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: $color-night-sky-blue;
}

#contact {
  background-color: $color-night-sky-blue;
  color: $color-light-sand;

  button {
    color: $color-light-sand;
    border: 4px solid $color-light-sand;
    margin: 15px;
  }
}

// #home {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     height: 100vh;

//     background: url(../images//willamette-winery-photo.jpg) no-repeat center
//     center fixed;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;

//   .logo {
//     width: 50%;
//     max-width: 700px;
//     padding: 30px;
//   }

//   h2{
//       color:white;
//       letter-spacing: 3px;
//   }

// }
