

#contact {
  background-color: $color-night-sky-blue;
  color: $color-light-sand;

  button {
    color: $color-light-sand;
    border: 2px solid $color-light-sand;
    margin: 15px;
  }
}

#mission {
  h2 {
    color: $color-dark-plum;
  }
  img {
    width: 250px;
  }
}

.wavy-border-transition{
  background-image: url('../images/wavy-border.svg');
  background-repeat: no-repeat;
  img{
    visibility: hidden ;
  }
}


