@font-face {
    font-family: "Kefa";
    src: url('../fonts/Kefa.woff');
} 

@font-face {
    font-family: "Avenir Book";
    src: url('../fonts/Avenir.woff');
} 

@import './reset.scss';
@import './variables.scss';
@import './general.scss';
@import './home.scss';

//components
@import './_Header.scss'
