@font-face {
    font-family: "Kefa";
    src: url('../fonts/Kefa.woff');
} 

@font-face {
    font-family: "Avenir Book";
    src: url('../fonts/Avenir.woff');
} 

@import './reset.scss';
@import './variables.scss';
@import './transitions.scss';
@import './general.scss';

//component layouts
@import './_Header.scss';
@import './_Footer.scss';
@import './HowItWorks';
@import './Sustainability';
@import './Welcome';
@import './LearnMore';
@import './WhyReusable';
@import './Mission';
@import './Contact';

@import './_Blog.scss';
@import './_BlogPost';