* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
   
  }
  
  html {
    font-size: 62.5%;
  }
  
  button {
    &:focus {
      outline: none;
    }
    border: none;
  }

  ul{
    list-style-type: none;
  }

  a {
    color: #0060B6;
    text-decoration: none;
}

a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}