//colors
$color-golden-yellow: #d8ae2b;
$color-sky: #668D99;
$color-burnt-orange-tint: #CD4E3E;
$color-spring-green: #92B064;
$color-light-sand: #DACEAF;
$color-dark-plum: #51132B;
$color-night-sky-blue: #1F2332;
$color-off-white: #F2F2F2;


$font-title: 'Kefa', serif;
$font-content: 'Avenir Book', serif; 
$box-shadow-main: 0px 3px 5px 3px rgba(0, 0, 0, 0.08);